.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(71, 178, 248);
    border-bottom: 1px solid rgb(204, 208, 211);
}
/*
.nav h2 {
    color: rgb(84, 85, 85); 
}
*/
.icon{
   cursor: pointer;
   padding-left: 20px;
}

.nav__user{
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}

.nav__user-icon{
    margin-right: 10px;

}
.nav__user-profile{
    position: relative;
}

.nav__user-profileAvatar{
    cursor: pointer;
}

.menu__icon-container {
    position: relative;
}

.menu__dropdown {
    position: absolute;
    top: 100%; /* Muestra el menú debajo del ícono del menú */
    left: 0;
    background-color: rgb(255, 255, 255); /* Fondo del menú */
    border: 1px solid rgb(204, 208, 211);
    padding: 10px;
    z-index: 1; /* Asegura que el menú esté en la parte superior */
    transition: all 0.3s ease;
    border-radius: 20px;
}

.nav__user-menuProfile{
    position: absolute;
    top: 100%; /* Muestra el menú debajo del ícono del menú */
    right: 0;
    background-color: rgb(255, 255, 255); /* Fondo del menú */
    border: 1px solid rgb(204, 208, 211);
    padding: 10px;
    z-index: 1000; /* Asegura que el menú esté en la parte superior */
    transition: all 0.3s ease; /* Agrega una transición suave */
    border-radius: 20px;
}



.menu__dropdown ul, .nav__user-menuProfile ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.menu__dropdown li, .nav__user-menuProfile li {
    padding: 10px;
    cursor: pointer;
    color: rgb(84, 85, 85);
}


  

