.menu{
    width: 200px;
    height: 350px;
}



.menu__title{
   font-size: 20px;
   text-align: center;
   border-bottom: 2px solid white;
}


.menu__lista--item{
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid white;
    
    
}

.menu__salir {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.menu__salir h3{
    color: rgb(84, 85, 85);
}

.menu__salir--text {
    margin-right: 8px;
  }

.menu__salir--icon {
    width: 40px; /* Ajusta el ancho del icono según sea necesario */
    height: 40px;
    color: rgb(84, 85, 85);
}